<table class="table table-dark">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Author</th>
      <th scope="col">Links</th>
      {% if request.user.is_authenticated and request.user.is_staff %}
        <th scope="col">Actions</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
    {% for checker in checker_list  %}
        <tr>
            <th scope="row">{{forloop.counter}}</th>
            <td>{{ checker.author }}</td>
            <td>
              <div>
                  {%include 'checker/includes/checker_form_template.html'%}
              </div>
            </td>
            {% if request.user.is_authenticated and request.user.is_staff %}
                <td>
                    <div class="form-group">
                        <a href="{{ checker.get_update_url }}" class="btn btn-info btn-sm">Update checker</a>
                    </div>
                    <div class="form-group">
                        <a href="{% url "checker:checker_create_url" %}" class="btn btn-primary btn-sm">Create checker</a>
                    </div>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
  </tbody>
</table>
