{% extends 'checker/index.html' %}
{% block content %}
<div class="card-header">
    <h1>Update checker list</h1>
</div>
<div class="card-body">
    <form action="{{ urlschecker.get_update_url }}" method="post">
        {% csrf_token %}
        <table class="table table-borderless table-dark">
            <thead>
                <tr>
                  <th scope="col">Author</th>
                  <th scope="col">Links</th>
                  <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    {% for field in form %}
                        <td>{{ field }}</td>
                    {% endfor %}
                    <td>
                        <div class="form-group">
                            <a href="{% url 'checker:link_create_url' %}" class="btn btn-primary">Add link</a>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-warning" type="submit">Update checker</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

{% endblock %}